# -----------------------------
# Node.js
# -----------------------------
node_modules/

# -----------------------------
# Playwright Reports
# -----------------------------
test-results/
playwright-report/
blob-report/
playwright/.cache/
playwright/.auth/

# -----------------------------
# Allure Reports
# -----------------------------
allure-results/
allure-report/

# -----------------------------
# Test Artifacts
# -----------------------------
*.zip
*.webm
*.png
*.jpg
*.jpeg
*.trace

# -----------------------------
# Environment Files
# -----------------------------
.env
.env.*

# -----------------------------
# IDE Files
# -----------------------------
.vscode/
.idea/

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Personal Notes
# -----------------------------
playwright_notes.md
playwrightbasics.md
playwrightbasics_02.md